<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cotter.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:name="android.hardware.fingerprint"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ApproveRequestActivity"></activity>
        <activity android:name=".PinChangeVerifyPinActivity" />
        <activity android:name=".PinEnrollmentSuccessActivity" />
        <activity android:name=".PinVerificationActivity" />
        <activity android:name=".PinEnrollmentReEnterPinActivity" />
        <activity android:name=".PinEnrollmentEnterPinActivity" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".IdentityActivity"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".RedirectUriReceiverActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="app.cotter.android" />
            </intent-filter>
        </activity>
    </application>

</manifest>