<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cotter.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission
        android:name="android.permission.USE_FINGERPRINT" />
    <uses-feature android:name="android.hardware.fingerprint"
        android:required="false"/>
    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PinEnrollmentSuccessActivity"></activity>
        <activity android:name=".PinVerificationActivity" />
        <activity android:name=".PinEnrollmentReEnterPinActivity" />
        <activity android:name=".PinEnrollmentEnterPinActivity" />
        <activity android:name="com.cotter.app.MainActivity" />
    </application>

</manifest>